<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,82},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,164},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,246},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,328},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,410},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,492},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,574},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,656},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,738},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,820},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,902},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,984},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,1066},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,1148},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{62,82}</string>
                <key>textureRect</key>
                <string>{{0,1230},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shusheng.png</string>
            <key>size</key>
            <string>{62,1312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd3446c9d3ff9a398a64d387ae0e6c0a:ac9a26fe044e3d36d005f6ec647dd108:84825f4cc20a553b1a843fe7268577e1$</string>
            <key>textureFileName</key>
            <string>shusheng.png</string>
        </dict>
    </dict>
</plist>
