<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{0,0},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{265,0},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{530,0},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{795,0},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1060,0},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1325,0},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1590,0},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{0,275},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{265,275},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{530,275},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{795,275},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1060,275},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1325,275},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1590,275},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{0,550},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{265,550},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{530,550},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{795,550},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1060,550},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1325,550},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{1590,550},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{0,825},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{265,825},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{530,825},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sl24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,275}</string>
                <key>spriteSourceSize</key>
                <string>{265,275}</string>
                <key>textureRect</key>
                <string>{{795,825},{265,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sl_effect.png</string>
            <key>size</key>
            <string>{1855,1100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ef8f490f3e8a5b816f97d5a5490778:868ff777722b3d105425c014385773e3:78e56aae34e73d634ac146e97ab33a80$</string>
            <key>textureFileName</key>
            <string>sl_effect.png</string>
        </dict>
    </dict>
</plist>
